

body, html{
    font-family: 'Fredoka One', cursive;
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #F7CED7FF;
}

.dark-mode {
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    height: 100%;
  }

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.container h1{
    position: absolute;
    left: 15%;
    font-size: 4vw;
    font-weight: 700;
    bottom: 65%;
    margin: 5%;
}

.container .btn {
    position: absolute;
    width: 30%;
    top: 70%;
    left: 35%;
    background-color: rgb(228, 228, 228);
    color: rgba(24, 117, 224, 0.801);
    border: none;
    font-size: 20px;
    padding: 14px 24px;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
  }

  .container .btn:hover {
    background-color: black;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color: #EF6079FF;
  }

  .logo{
      position: relative;
      top: 3px;
      color: rgb(206, 206, 206);
      text-transform: uppercase;
      letter-spacing: 5px;
      cursor: pointer;
  }

  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 40%;
      margin-top: 15px;
  }

  .nav-links li{
      list-style: none;
  }

  .nav-links a{
      color: whitesmoke;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 15px;
  }

  #dark-btn{
    background-color: rgb(14, 14, 14);
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }

  .burger{
      display: none;
      cursor: pointer;
  }

  .burger div{
      width: 25px;
      height: 3px;
      background-color: whitesmoke;
      margin: 5px;
  }

  .info-container{
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      border: 2px solid black;

  }

  #piechart{
      position: relative;
      width: 60%;
      height: 420px;
      background-color: grey;
  }

  #form {
      padding: 5%;
      position: relative;
      width: 50%;
      height: 420px;
  }

  #form1{
    position: relative;
    left: 20%;
    bottom: 15%;
    width: 100%;
    text-align: left;
  }

  #form1 input{
      opacity: 50%;
  }

  #form1 button{
      border-style: none;
      background-color: rgb(41, 41, 41);
      color: whitesmoke;
  }

  #form1 button:hover{
    background-color: grey;
}

  .info-container p{
      text-align: center;
      position: relative;
      font-size: 120%;
      top: 10%;
      font-weight: bolder;
  }

  .intro-container{
      width: 100%;
      box-sizing: border-box;
      border: 2px solid black;
  }

  #purpose{
      padding: 4%;
      position: relative;
      right: 1%;
      width: 100%;
      text-align: center;
  }

  .function-container{
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      border: 2px solid black;
  }

  .function-container h4{
      padding: 4%;
      width: 100%;
  }

  #functions{
      display: flex;
      width: 100%;
      position: relative;
  }

  .function-item{
      padding: 3%;
      box-sizing: border-box;
      border: 2px solid black;
      border-right: none;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;
  }

  .function-item h6{
    box-sizing: border-box;
    border: 2px solid black;
    border-left: none;
    border-right: none;
  }
  
  .page-container{
      margin:10%;
      margin-top: 3%;
      padding-bottom: 20%;
      width: 80%;
      background-color:#F99FC9FF;
      text-align: center;
  }

  .page-head{
      padding: 4%;
      border-bottom: dotted;
  }

  .page-title{
      font-size: 350%;
  }

  #record-container h2{
      margin-top: 10%;

  }

  #record-container table{
      width: 70%;
      height: 300px;
      margin: 7%;
      margin-top: 4%;
      margin-left: 15%;
      margin-bottom: 15%;
      border: solid black;
      border-radius: 20%;
      overflow:auto;
  }

  #record-body tr{
      height: 50px;
  }


  .name{
      width: 45%;
      border-right: solid black;
      border-bottom: solid black;
  }

  .category{
      width: 35%;
      border-right: solid black;
      border-bottom: solid black;
  }

  .price{
      width: 20%;
      border-bottom: solid black;
  }

  .record-form h2{
      margin: 4%;
  }

  .record-form form input{
      border: none;
      height: 27px;
  }

  .record-form form select {
      height: 27px;
  }

  .budget-container{
      margin-top: 5%;
      width: 100%;
      border-bottom: dotted;
  }

  .reminder-container{
      display: flex;
      margin-bottom: 3%;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 16%;
  }

  .reminder-container h5{
      border: solid 4px;
      width: 25%;
      position: absolute;
      left: 65%;
      background-color: chartreuse;
  }

  .spending-feed{
      width: 100%;
      height: 100%;
      border-bottom:dotted;

  }

  .spending-feed h2{
      padding-top: 5%;  
  }

  .spending-feed p{
      padding-bottom: 5%;
      border-bottom: dotted;
  }

  .feed-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 5%;
  }

  .feed-item{
      margin: 1%;
      width: 22%;
      height: 250px;
      border: solid;
  }

  .reddit-feed{
      border-bottom: dotted;
  }

  .reddit-feed h2{
      margin-top: 4%;
  }

  #reddit-post{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 500px;
      overflow: scroll;
      overflow-x: hidden;
      margin-top: 5%;
      border-top: dotted;
  }

  .post{
      margin-top: 1%;
      border: 1px solid;
      width: 70%;
  }

  .form-header{
      margin-bottom: 5%;
      margin-top: 5%;
  }

  #update-form{
      margin-bottom: 5%;
  }

  #set-form{
      margin-bottom: 5%;
  }

  #update-budget{
      border-bottom: dotted;
  }

  #set-budget{
      border-bottom: dotted;
  }

  @media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }
    .container h1{
        left: 20%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(133, 86, 86);
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 1;
    }

    .burger{
        display: block;
    }

    .container img {
        height: auto;
    }

    .container h1 {
        font-size: 30px;
        left: 11%;
    }

    #form{
        width: 100%;
    }

    #form1{
        top: 5%;
        text-align: center;
        left: 1%;
    }

    #piechart{
        width: 100%;
        z-index: 1;
        text-align: center;
        left:0%;
        right:5%;
    }

    .info-container{
        flex-wrap: wrap;
    }

    .info-container p{
        left: 1%;
    }

    #record-container table{
        width: 90%;
        margin-left: 5%;
    }

    .record-form{
        margin-top: 50%;
    }


    .reminder-container h4{
        position: relative;
        right: 13%;
        font-size: 15px;
    }

    .reminder-container h5{
        width: 50%;
        font-size: 18px;
    }

    .feed-item{
        width: 40%;
        height: 250px;
        border: solid;
    }
  }

  .nav-active{
      transform: translateX(0%);
      z-index: 2;
  }

