body, html{
    font-family: 'Baskervville', Arial, serif;
    height: 100%;
    margin: 0;
    background-color: rgb(236, 236, 236);
    padding: 0px;
}

.dark-mode {
    background-color: grey;
    color: white;
  }

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.container h1{
    position: absolute;
    left: 15%;
    font-size: 4vw;
    font-weight: 700;
    bottom: 65%;
    margin: 5%;
}

.container .btn {
    position: absolute;
    width: 30%;
    top: 70%;
    left: 35%;
    background-color: rgb(228, 228, 228);
    color: rgba(24, 117, 224, 0.801);
    border: none;
    font-size: 20px;
    padding: 14px 24px;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
  }

  .container .btn:hover {
    background-color: black;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color:rgb(133, 86, 86);
  }

  .logo{
      position: relative;
      top: 3px;
      color: rgb(206, 206, 206);
      text-transform: uppercase;
      letter-spacing: 5px;
  }

  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 40%;
      margin-top: 15px;
  }

  .nav-links li{
      list-style: none;
  }

  .nav-links a{
      color: whitesmoke;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 15px;
  }

  #dark-btn{
    background-color: rgb(133, 86, 86);
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }

  .burger{
      display: none;
      cursor: pointer;
  }

  .burger div{
      width: 25px;
      height: 3px;
      background-color: whitesmoke;
      margin: 5px;
  }

  .info-container{
      display: flex;
      flex-direction: row;
  }

  #piechart{
      position: relative;
      left: 6%;
      width: 100%;
      height: 450px;
      background-color: grey;

  }

  #form {
      font-family: Arial, Helvetica, sans-serif;
      padding: 5%;
      padding-left: 15%;
      position: relative;
      width: 65%;
      text-align: center;
  }

  #form h2{
      position: relative;
      bottom: 5%;
  }

  #form1{
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
  }

  #form1 button{
      border-style: none;
  }

  .info-container p{
      text-align: center;
      position: relative;
      top: 3%;
      font-weight: bolder;
  }

  @media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }
    .container h1{
        left: 20%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(133, 86, 86);
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 1;
    }

    .burger{
        display: block;
    }

    .container img {
        height: auto;
    }

    .container h1 {
        font-size: 30px;
        left: 11%;
    }

    #form{
        text-align: left;
        left: 25%;
    }

    #piechart{
        left: 1%;
        z-index: 1;
        text-align: center;
    }

    .info-container{
        flex-wrap: wrap;
    }

  }

  .nav-active{
      transform: translateX(0%);
      z-index: 2;
  }

