body, html{
    font-family: 'Fredoka One', cursive;
    height: 100%;
    margin: 0;
    padding: 0px;
}

.dark-mode {
    background-color: rgb(70, 70, 70);
    color: white;
  }

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.container h1{
    position: absolute;
    left: 15%;
    font-size: 4vw;
    font-weight: 700;
    bottom: 65%;
    margin: 5%;
}

.container .btn {
    position: absolute;
    width: 30%;
    top: 70%;
    left: 35%;
    background-color: rgb(228, 228, 228);
    color: rgba(24, 117, 224, 0.801);
    border: none;
    font-size: 20px;
    padding: 14px 24px;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
  }

  .container .btn:hover {
    background-color: black;
  }

  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-image: linear-gradient(to right,rgb(243, 0, 0),rgb(8, 8, 197));
  }

  .logo{
      position: relative;
      top: 3px;
      color: rgb(206, 206, 206);
      text-transform: uppercase;
      letter-spacing: 5px;
      cursor: pointer;
  }

  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 40%;
      margin-top: 15px;
  }

  .nav-links li{
      list-style: none;
  }

  .nav-links a{
      color: whitesmoke;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 15px;
  }

  #dark-btn{
    background-color: rgb(14, 14, 14);
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }

  .burger{
      display: none;
      cursor: pointer;
  }

  .burger div{
      width: 25px;
      height: 3px;
      background-color: whitesmoke;
      margin: 5px;
  }

  .info-container{
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      border: 2px solid black;

  }

  #piechart{
      position: relative;
      width: 60%;
      height: 420px;
      background-color: grey;
  }

  #form {
      padding: 5%;
      position: relative;
      width: 50%;
      height: 420px;
  }

  #form1{
    position: relative;
    left: 20%;
    bottom: 15%;
    width: 100%;
    text-align: left;
  }

  #form1 input{
      opacity: 50%;
  }

  #form1 button{
      border-style: none;
      background-color: rgb(209, 209, 209);
  }

  #form1 button:hover{
    background-color: grey;
}

  .info-container p{
      text-align: center;
      position: relative;
      font-size: 120%;
      top: 10%;
      font-weight: bolder;
  }

  .intro-container{
      width: 100%;
      box-sizing: border-box;
      border: 2px solid black;
  }

  #purpose{
      padding: 4%;
      position: relative;
      right: 1%;
      width: 100%;
      text-align: center;
  }

  .function-container{
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      border: 2px solid black;
  }

  .function-container h4{
      padding: 4%;
      width: 100%;
  }

  #functions{
      display: flex;
      width: 100%;
      position: relative;
  }

  .function-item{
      padding: 3%;
      box-sizing: border-box;
      border: 2px solid black;
      border-right: none;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;
  }

  .function-item h6{
    box-sizing: border-box;
    border: 2px solid black;
    border-left: none;
    border-right: none;
  }
  

  @media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }
    .container h1{
        left: 20%;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(133, 86, 86);
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 1;
    }

    .burger{
        display: block;
    }

    .container img {
        height: auto;
    }

    .container h1 {
        font-size: 30px;
        left: 11%;
    }

    #form{
        width: 100%;
    }

    #form1{
        top: 5%;
        text-align: center;
        left: 1%;
    }

    #piechart{
        width: 100%;
        z-index: 1;
        text-align: center;
        left:0%;
        right:5%;
    }

    .info-container{
        flex-wrap: wrap;
    }

    .info-container p{
        left: 1%;
    }
  }

  .nav-active{
      transform: translateX(0%);
      z-index: 2;
  }

